@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_input:focus {
  outline: none;
}

.custom_auto_h {
  max-height: calc(100vh - 200px);

}

.custom_auto_h::-webkit-scrollbar {
  display: none;
}

.login_gif {
  background: url("https://s3-alpha-sig.figma.com/img/641a/b5a3/6da730e9bde4355afe6310daf2cee724?Expires=1693785600&Signature=oqV60qtgLRhMUc~bx9Etwxn~tahNm53CPHTdgg3PGPZbzZgZvkNid1GuvZkrG0A9O87YAMxoikC7XWKMKPwA4D8hfJ57dBIYyCvV40Sh547oV04-StPeQMgnSmOooCAncEyub3M4S0U9SfPwk2aUiKYpjI2P1oohjkw6yRhHiRaBeEvL2usnlMeD-IIZuIniBFTp9uUpnET-OfGEBD2JWuBucog-INMr2qvWfWfP-WaLOkHT5Fiij~oX~paylvIK9rVbAR6-PyQZWq1-SibHijngewn8XaYFF9wR5cJWCgEdwVqr0wYCWhLyt0fiPV4Y1dJ4PP6X9NFSjQoWGn2WHw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cat_card svg {
  margin: auto;
}

.earn_madel {
  background: url("https://s3-alpha-sig.figma.com/img/decf/cec3/05fce9b681f1011a97aa8377634c601a?Expires=1693785600&Signature=JfCyQh8IvagnI88rTniyndiPuFCtig1Wki5KjNfmrNjHQ5G~OOjPaiXVF1U6j~jX7FhRIcmeNUpiqXfuk-rGNBMiI-FxoNbqskkqxSJRxtJbxb7UM7U4FVvL7R2bwr9-BPp5kw49GrNld4xNpuMlfqbaWLzjKuQ~x-8tGCzyUGUPnn-dpAck6sXEg0DF4GW0qBY6ZM-2TLoKsZ8ychQlzjiSWM4iYa8wucvOtCPHP15N4z1anaElUw5IT~~8fdUcFb6Q0-XN7MonhpcKpxflfLqjiWaIdjRBZWFnEh-iqZWBS8wZU6rqozBukXVy42zUbCxT9fqyzUsxJrJgIGcF8g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homePage {
  background: url("https://s3-alpha-sig.figma.com/img/7a34/ed2e/e6c19f2b4c1c30d8f42171a8a46201e6?Expires=1693785600&Signature=F09sGyYEc0fSzqRcV1mixc-~jWuZbNnu6h8QPl57siGiwr~qv9nVwG1Qc~-Bh4pUVBE1SlOwKb17bLp5CuIgDbSpQ4Ugwub9fW98EE-2~w35j6Ay~c2eYhyhEy9RgDC0c2S7RlJf3pbh6WR0EIQS6x2CB8-oBM0vaev0NSuXay20B-4eLpn~xmCVTGenOjgLUqtgmHSIaqQ3OqRRrg3RndEX7l9E3Za7YP8mIq5rMX03eDxNDUz6wB6OI1rr73O-vBFXArRT4-gOmDG3-12r6eW~bTwTdpsVh6IkhcPkRlfMMytXgWfiebuumuuVJZDm0VJStEvrui~hKQKYIlEDWw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.event_shadow {
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.09);
}

.event_slider .slick-prev::before,
.event_slider .slick-arrow::before {
  color: black;
}

.home_pop1 {
  background: url("https://s3-alpha-sig.figma.com/img/7762/6ba5/4e5c8f3a14698fc044435d688cc568ba?Expires=1693785600&Signature=cLt-5hMmpxObXaAz~ZSEgYNcWZfWKT3hjHpTMCZs2VCZqk4mgZpwylkx2-eOge0VIYLl-4aCfEziiog-IEzzt8tHgWRtXFss0u100X-TDI4vp-4161CtVNr3qlykHeoxO9pDLlAKls2mKDfFezgxwy0otddaOfzggwOWCS3CKdmsxuJKw8hZbaDXmmLI3rDt9Cj-WXYAS~UiS8jR-eGJIXbNSwBmEA7x5DjuojjoiYufhxyr0bqnxACQVQ1I-YY-gnyDyuKd7dGLSG6uDk2oNI9F3qTXbOYCa5Vm-VSYZIAn6LrP8FOgvYAlI2tY7CBGfPebil~nPlA~yxUWouBCXA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_pop2 {
  background: url("https://s3-alpha-sig.figma.com/img/091e/264f/bfbc492ce0956ffc568dfbd12493a24a?Expires=1693785600&Signature=CiCOAneRo1OY20ViMwjgO1apvIB-Ms~vusvOhY7Gt7zpnd4BfvN~1MXF7lh5a6RnJT4PSNsalCTGwVyy6crRuN~X-IznAW4Zm18rh6g1Fn6MuJH4UwmpSpXkxkYBfWXuKltxOhXnmXC1n-klTMhVT~rG~YE74G38htLz~XYHlKh1Xnb8Hg0mPONclGq0H~H2cqz6p4r3OA3ONKgWFxkEr00mBN5ValYnQngsR-6v2x9SoqCIGwBCjock5goM0dvLf3bQump02U8yYxoJft5sqtWNhSGOu~vqSmZXE9CIT~1hy5UpzY1hhn-8wi6AeBW7yRIbwwSRBTAJdcxdgZPcXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.time-icon {
  background: url("https://s3-alpha-sig.figma.com/img/ca73/3b45/2ffe7157fdca70e457adcb8668498410?Expires=1693785600&Signature=dRgSykH2OtVIS8h5TRJnBHbBMslymvsc8DkupMy-57FXxU72W4-rrfNRmEB0BzLps4P9j-aIjsTpVN5tP55RS1loj64wOKUvrr3XBYgpKfHa2wIhQPXhdoTw4rqadzDaY5~DwZPzpB7BGxiUks-im8p6UAuK4w~YV4ZO7EwTNMxuRGadJleylQkonr4LPayjO5YD4b4YCJJGL3wNCCf4Z1w6PKmqfYxd6HzPTpM5A9~F5COwCm3X6IEY0~nr5HCrJ17UvwtOZenroSupc6UENkaVEOiwz5fhJ9q0B7VDUhX9hu8M-RNa7KG8wbkiSf-NqqgDRgXHyP0IO2HoZ6yc-w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer_shadow {
  box-shadow: 0px -4px 36px 0px rgba(0, 0, 0, 0.09);
}