@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_input:focus {
  outline: none;
}

.custom_auto_h {
  max-height: calc(100vh - 200px);

}

.custom_auto_h::-webkit-scrollbar {
  display: none;
}

.login_gif {
  background: url("https://s3-alpha-sig.figma.com/img/641a/b5a3/6da730e9bde4355afe6310daf2cee724?Expires=1693785600&Signature=oqV60qtgLRhMUc~bx9Etwxn~tahNm53CPHTdgg3PGPZbzZgZvkNid1GuvZkrG0A9O87YAMxoikC7XWKMKPwA4D8hfJ57dBIYyCvV40Sh547oV04-StPeQMgnSmOooCAncEyub3M4S0U9SfPwk2aUiKYpjI2P1oohjkw6yRhHiRaBeEvL2usnlMeD-IIZuIniBFTp9uUpnET-OfGEBD2JWuBucog-INMr2qvWfWfP-WaLOkHT5Fiij~oX~paylvIK9rVbAR6-PyQZWq1-SibHijngewn8XaYFF9wR5cJWCgEdwVqr0wYCWhLyt0fiPV4Y1dJ4PP6X9NFSjQoWGn2WHw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cat_card svg {
  margin: auto;
}

.earn_madel {
  background: url("https://s3-alpha-sig.figma.com/img/decf/cec3/05fce9b681f1011a97aa8377634c601a?Expires=1693785600&Signature=JfCyQh8IvagnI88rTniyndiPuFCtig1Wki5KjNfmrNjHQ5G~OOjPaiXVF1U6j~jX7FhRIcmeNUpiqXfuk-rGNBMiI-FxoNbqskkqxSJRxtJbxb7UM7U4FVvL7R2bwr9-BPp5kw49GrNld4xNpuMlfqbaWLzjKuQ~x-8tGCzyUGUPnn-dpAck6sXEg0DF4GW0qBY6ZM-2TLoKsZ8ychQlzjiSWM4iYa8wucvOtCPHP15N4z1anaElUw5IT~~8fdUcFb6Q0-XN7MonhpcKpxflfLqjiWaIdjRBZWFnEh-iqZWBS8wZU6rqozBukXVy42zUbCxT9fqyzUsxJrJgIGcF8g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.homePage{
  background: url("https://s3-alpha-sig.figma.com/img/7a34/ed2e/e6c19f2b4c1c30d8f42171a8a46201e6?Expires=1693785600&Signature=F09sGyYEc0fSzqRcV1mixc-~jWuZbNnu6h8QPl57siGiwr~qv9nVwG1Qc~-Bh4pUVBE1SlOwKb17bLp5CuIgDbSpQ4Ugwub9fW98EE-2~w35j6Ay~c2eYhyhEy9RgDC0c2S7RlJf3pbh6WR0EIQS6x2CB8-oBM0vaev0NSuXay20B-4eLpn~xmCVTGenOjgLUqtgmHSIaqQ3OqRRrg3RndEX7l9E3Za7YP8mIq5rMX03eDxNDUz6wB6OI1rr73O-vBFXArRT4-gOmDG3-12r6eW~bTwTdpsVh6IkhcPkRlfMMytXgWfiebuumuuVJZDm0VJStEvrui~hKQKYIlEDWw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}