@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots{
  display: none !important;
}
.main_menu {
  top: 81px;
  height: calc(100vh - 81px);
}

@media screen and (max-width:768px) {
  .main_menu {
    top: 60px;
    height: calc(100vh - 60px);
  }
}

.profile_shadow {
  filter: drop-shadow(0px 6px 26px rgba(0, 0, 0, 0.09));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_input:focus {
  outline: none;
}



.custom_auto_h {
  max-height: calc(100vh - 200px);

}

.custom_auto_h::-webkit-scrollbar {
  display: none;
}

.custom_scroll::-webkit-scrollbar {
  display: none;
}

.login_gif {
  background: url("https://s3-alpha-sig.figma.com/img/641a/b5a3/6da730e9bde4355afe6310daf2cee724?Expires=1693785600&Signature=oqV60qtgLRhMUc~bx9Etwxn~tahNm53CPHTdgg3PGPZbzZgZvkNid1GuvZkrG0A9O87YAMxoikC7XWKMKPwA4D8hfJ57dBIYyCvV40Sh547oV04-StPeQMgnSmOooCAncEyub3M4S0U9SfPwk2aUiKYpjI2P1oohjkw6yRhHiRaBeEvL2usnlMeD-IIZuIniBFTp9uUpnET-OfGEBD2JWuBucog-INMr2qvWfWfP-WaLOkHT5Fiij~oX~paylvIK9rVbAR6-PyQZWq1-SibHijngewn8XaYFF9wR5cJWCgEdwVqr0wYCWhLyt0fiPV4Y1dJ4PP6X9NFSjQoWGn2WHw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_gif {
  background: url("https://s3-alpha-sig.figma.com/img/d083/10e9/9956a3f1f0377d9807190c17b62a1442?Expires=1694390400&Signature=Bswi55jhIk7O4AP51S7sCZ1eguvBdyrrr5EwQxg-CGueh38TJuXSOkCqhb17Sfuo4j1FvqvTxFRlrXZBQ42BF5GET-AdDZRDcUQoD0o~B9grCwHPKMF14wreUCl4vcYZH9Oarnh0po5d6KPsPpgs1ocvhggjbC~2SmgqASEu~leiQA3sr4muDgVg6WG-8Xhh9U~MSM32dSyzQEE8IZbAf7w0wo1q0slasDkCMjHWval8agXGNOC4hQVTss3RU9nXyQ1uI3jJvvu9UUSsbOar0~plMy31oFKwuxbDlgeKncr2BwSmCbbOfTHK0cK8E0~w5xtUnBto0qjYusK33EDYyw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cat_card svg {
  margin: auto;
}

.earn_madel {
  background: url("https://s3-alpha-sig.figma.com/img/decf/cec3/05fce9b681f1011a97aa8377634c601a?Expires=1693785600&Signature=JfCyQh8IvagnI88rTniyndiPuFCtig1Wki5KjNfmrNjHQ5G~OOjPaiXVF1U6j~jX7FhRIcmeNUpiqXfuk-rGNBMiI-FxoNbqskkqxSJRxtJbxb7UM7U4FVvL7R2bwr9-BPp5kw49GrNld4xNpuMlfqbaWLzjKuQ~x-8tGCzyUGUPnn-dpAck6sXEg0DF4GW0qBY6ZM-2TLoKsZ8ychQlzjiSWM4iYa8wucvOtCPHP15N4z1anaElUw5IT~~8fdUcFb6Q0-XN7MonhpcKpxflfLqjiWaIdjRBZWFnEh-iqZWBS8wZU6rqozBukXVy42zUbCxT9fqyzUsxJrJgIGcF8g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homePage {
  background: url("https://s3-alpha-sig.figma.com/img/d083/10e9/9956a3f1f0377d9807190c17b62a1442?Expires=1694390400&Signature=Bswi55jhIk7O4AP51S7sCZ1eguvBdyrrr5EwQxg-CGueh38TJuXSOkCqhb17Sfuo4j1FvqvTxFRlrXZBQ42BF5GET-AdDZRDcUQoD0o~B9grCwHPKMF14wreUCl4vcYZH9Oarnh0po5d6KPsPpgs1ocvhggjbC~2SmgqASEu~leiQA3sr4muDgVg6WG-8Xhh9U~MSM32dSyzQEE8IZbAf7w0wo1q0slasDkCMjHWval8agXGNOC4hQVTss3RU9nXyQ1uI3jJvvu9UUSsbOar0~plMy31oFKwuxbDlgeKncr2BwSmCbbOfTHK0cK8E0~w5xtUnBto0qjYusK33EDYyw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100vh;
}

.event_shadow {
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.09);

}

.skip_shadow {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.event_slider .slick-prev::before,
.event_slider .slick-arrow::before {
  color: black;
}

.home_pop1 {
  background: url("https://s3-alpha-sig.figma.com/img/7762/6ba5/4e5c8f3a14698fc044435d688cc568ba?Expires=1693785600&Signature=cLt-5hMmpxObXaAz~ZSEgYNcWZfWKT3hjHpTMCZs2VCZqk4mgZpwylkx2-eOge0VIYLl-4aCfEziiog-IEzzt8tHgWRtXFss0u100X-TDI4vp-4161CtVNr3qlykHeoxO9pDLlAKls2mKDfFezgxwy0otddaOfzggwOWCS3CKdmsxuJKw8hZbaDXmmLI3rDt9Cj-WXYAS~UiS8jR-eGJIXbNSwBmEA7x5DjuojjoiYufhxyr0bqnxACQVQ1I-YY-gnyDyuKd7dGLSG6uDk2oNI9F3qTXbOYCa5Vm-VSYZIAn6LrP8FOgvYAlI2tY7CBGfPebil~nPlA~yxUWouBCXA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_pop2 {
  background: url("https://s3-alpha-sig.figma.com/img/091e/264f/bfbc492ce0956ffc568dfbd12493a24a?Expires=1693785600&Signature=CiCOAneRo1OY20ViMwjgO1apvIB-Ms~vusvOhY7Gt7zpnd4BfvN~1MXF7lh5a6RnJT4PSNsalCTGwVyy6crRuN~X-IznAW4Zm18rh6g1Fn6MuJH4UwmpSpXkxkYBfWXuKltxOhXnmXC1n-klTMhVT~rG~YE74G38htLz~XYHlKh1Xnb8Hg0mPONclGq0H~H2cqz6p4r3OA3ONKgWFxkEr00mBN5ValYnQngsR-6v2x9SoqCIGwBCjock5goM0dvLf3bQump02U8yYxoJft5sqtWNhSGOu~vqSmZXE9CIT~1hy5UpzY1hhn-8wi6AeBW7yRIbwwSRBTAJdcxdgZPcXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.time-icon {
  background: url("https://s3-alpha-sig.figma.com/img/ca73/3b45/2ffe7157fdca70e457adcb8668498410?Expires=1693785600&Signature=dRgSykH2OtVIS8h5TRJnBHbBMslymvsc8DkupMy-57FXxU72W4-rrfNRmEB0BzLps4P9j-aIjsTpVN5tP55RS1loj64wOKUvrr3XBYgpKfHa2wIhQPXhdoTw4rqadzDaY5~DwZPzpB7BGxiUks-im8p6UAuK4w~YV4ZO7EwTNMxuRGadJleylQkonr4LPayjO5YD4b4YCJJGL3wNCCf4Z1w6PKmqfYxd6HzPTpM5A9~F5COwCm3X6IEY0~nr5HCrJ17UvwtOZenroSupc6UENkaVEOiwz5fhJ9q0B7VDUhX9hu8M-RNa7KG8wbkiSf-NqqgDRgXHyP0IO2HoZ6yc-w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrong_img {
  background: url("https://s3-alpha-sig.figma.com/img/18f6/b847/0d84f77ce2f28716abe8d8444ebb4655?Expires=1694390400&Signature=TfqUx~gYnVjVkKvoFV115XxHJ5ygXsDEDd6HazGhKHGnJhQtZ5q2NGP~bP5XjAECBzToE91CFDiB-cYflbYqcrQZhl5-ojVnsG9BWQPSAJvBM0IDDEHJHOSqrN-oYuqs~PtaFXSzvzGvoPYTCy4AVnSNPMVlF-OilvsLIeZZxsyssK~mWjNdgBdmWpqT5Q5OljyOGuc3llJfhXHtQp4t~vbwoUQnf6q-GUtj7Yis9IlFX-ZSlmXLKL4O5H4qi7Xpa7DHZBY8sE8BjqQtr-Gc5ulKIFaWO1IewRm1gO96v-UkvSjJyfniLcM3eQ5rB3cdwRacuzKlhdlqGWzBekt~Uw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer_shadow {
  box-shadow: 0px -4px 36px 0px rgba(0, 0, 0, 0.09);
}

.card_shadow {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.layout_bg {
  background: rgba(255, 255, 255, 0.50);
}

/* Range slider style start*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #e5e7eb;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #38a169;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #38a169;
  cursor: pointer;
}

.hamburger-react {
  transform: scale(0.7) !important;
  width: 35px !important;
  height: 35px !important;
  display: none;
}

@media screen and (max-width: 1024px) {
  .hamburger-react {
    transform: scale(0.7) !important;
    display: block;
  }
}

/* Rangwe sldier style end */

/* Responsive classes */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .custom_auto_h {
    max-height: calc(100vh - 145px);
  }
}

@media screen and (max-width: 1024px) {
  .custom_auto_h {
    max-height: calc(100vh - 120px);
  }
}